<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @comment.id %>
</p>

<p>
  <b>Blog:</b>
  <%= @comment.blog && @comment.blog.title %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user.username %>
</p>


<%= link_to 'Edit', edit_admin_comment_path(@comment) %> |
<%= link_to 'Back', admin_comments_path %>
