- htitle '博客首页信息'

- hbreadcrumb '博客首页'

.page-model-show
  .shouye= :shouye
  .categories
    - @categorys.each do |category| 
      .category= link_to category.name, category

  .blogs
    - @blogs.each do |blog|
      .uname= blog.user.username
      .title= link_to blog.title,blog
      .content= blog.content
      .category= link_to blog.category.name , blog.category
      .reprint= "评论 #{blog.comments.length} 转载"

  .hashs
    - @hashs.each do |hash|
      %hr
      - hash.each do |key,value|
        .key= key
        .val= value