- htitle '博客上传'

- hbreadcrumb '博客上传首页'

.page-model-show
  
  = form_for @file_uploader do |t|
    .form-inputs
      .field
        %label 主题
        = t.text_field :title

      .field
        %label 描述
        = t.text_field :desc

      .field
        %label 文件
        = t.text_field :file_entity_id

      .file
        .linked{:style => 'display:none;'}
          .desc 附件文件：
          .name
        .upload
          

          %a.btn.primary.course-ware-upload{:href => 'javascript:;'} 
            %i.icon-upload.icon-white
            %span 上传文件

    .form-actions
      = t.button :submit, :class => 'success'
      %a.btn.cancel{:href => "javascript::"}= t('common.form.cancel')
