- htitle '用户显示'

- hgoback '/admin/users'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '用户显示管理', '/admin/users'
- hbreadcrumb "#{@user.username}"

.page-model-form
  = form_for [:admin, @user] do |t|
    .field
      = t.hidden_field :id

    .field.need
      %label 主题
      = t.text_field :username

    .field
      %label 密码
      = t.text_field :password

    .field
      %label 头像
      - if @user.avatar
        = image_tag @user.avatar.url

      = t.file_field :avatar

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'