- htitle '博客编辑'

- hgoback '/admin/blogs'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '博客管理', '/admin/blogs'
- hbreadcrumb "#{@blog.title}"

.page-model-form
  = form_for [:admin, @blog] do |t|
    .field
      = t.hidden_field :id

    .field.need
      %label 主题
      = t.text_field :title

    .field.need
      %label 内容
      = t.kindeditor :content

    .field
      %label 分类
      = t.select(:category_id,options_from_collection_for_select(Category.all , :id , :name, @blog.category.id))

    .field.submit
      = t.submit '确定', :class => 'form-submit-button'
      / = jfsubmit '确定'
      = jfcancel '取消'
