- htitle '博客管理'

- hbreadcrumb '博客管理首页'
.page-model-show
  %table
    %tr
      %th=  'ID'
      %th=  '主题'
      %th=  '内容'
      %th=  '分类'
      %th=  '内容类别'
      %th=  '图片资源'
      %th=  ''
      %th=  ''
      %th=  ''

    - @blogs.each do |blog|
      %tr
        %th=  blog.id
        %th=  blog.title
        %th=  sanitize blog.content
        %th=  blog.category.name
        %th=  blog.context_type
        %th= image_tag blog.image_url.url
        %th=  link_to '显示', admin_blog_path(blog)
        %th=  link_to '编辑', edit_admin_blog_path(blog)
        %th=  link_to '删除', admin_blog_path(blog), :method => :delete, :data => { :confirm => 'Are you sure?' }

  .add= link_to '增加', new_admin_blog_path