- htitle '博客分类显示'

- hgoback '/admin/blogs'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '博客管理', '/admin/blogs'
- hbreadcrumb "#{@blog.title}"


/ = page_top_fixed 'buttons' do
/   = page_buttons do |p|
/     = p.button '增加一个博客分类', '/admin/students/new', :class => 'create'

.page-model-show
  .id
    .name= 'ID'
    .value= @blog.id

  .name
    .name= '主题'
    .value= @blog.title

  .level
    .name= '内容'
    .value= sanitize @blog.content

  .level
    .name= '分类'
    .value= @blog.category.name

  .name
    .name= '类别'
    .value= @blog.context_type

  .name
    .name= '图片资源'
    .value= image_tag @blog.image_url.url

= page_top_fixed 'buttons' do
  = page_buttons do |p|
    = p.button '编辑', edit_admin_blog_path(@blog), :class => 'edit'
